* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background: #0f172a;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #0f172a;
}

.about {

    text-align: center;
    max-width: 800px;
    margin: auto;    
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item h3 {
    margin-bottom: 10px;
    color: #0f172a;
}

    
.project-item p {
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.project-item a {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}


footer {
    background: #0f172a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.social-links{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

footer p {
    font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    section {
        padding: 30px;
    }

    .section-title {
        font-size: 1.5rem;
    }
    .social-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;

    }
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

button:hover {
    background-color: #ff6347;
}
a i {
    font-size: 2rem;
    color: #333;
    margin: 0 15px;
}

a i:hover {
    color: #ff6347;
}
button:hover {
    background-color: #ff6347;
}

button:active {
    background-color: #e5533d; /* Darker shade when clicked */
}

button:focus {
    outline: 3px solid #ff6347; /* Focus outline for accessibility */
}