body{
    background-image: url("https://pebblely.com/blog/custom-backgrounds/custom-backgrounds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh;
    background-color: rgb(243, 198, 139);
}
.img{
    height: 250px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;

}
h1{
    color:  rgb(52, 6, 58);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 20px;
}
h2{
    color:  hsl(240, 74%, 13%);
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
}
.h2{
    color:  hsl(240, 74%, 13%);
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: left;
    margin-top: 15px;
}
p{
     color: rgba(0, 0, 128, 0.8);
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     font-style: italic;
     margin: 15px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}
.card{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.description{
    font-size: 18px;
    color: #333;
    margin: 15px 0;
    line-height: 1.4;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
button{
    background-color: hsl(240, 74%, 13%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.testimonial{
    font-style: italic;
    color: #555;
    margin: 10px 0;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .features{
        flex-direction: row;
        align-items: center;
    }

}